/*element selector*/
html {
    color: black;
}

body {
    background-color: #b0c4de;
}

h1 {
    background-color: green;
}

h2 {
    color: yellow;
    background-color: transparent;
}

p {
    color: blue;
    background-color: pink;
}

/*id selector*/
#paragraph1 {
    text-align: center;
    color: red;
}

/*class selector*/
.center {
    text-align: center;
}

.paragraph2 {
    background-color: gray;
}
