/*element selector*/
html {
    color: black;
}

body{
    background-color: #b0c4de;
}

p {
    color: blue;
}

h2 {
    color: silver;
}

/*id selector*/
#paragraph1 {
    text-align: center;
    color: red;
}

/*class selector*/
.center{
    text-align: center;
}